.title_and_navigations_outer{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #1abc9c;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2rem;
}