.quick_action_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3498db;
    border: none;
    border-radius: 8px;
    width: 4rem;
    height: 4rem;
    margin: 0 10px;
    cursor: pointer;
    justify-content: center;
    font-size: 0.6rem;
    gap: 0.5rem;
}